@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(
    to right,
    #ff4e88,
    #ffcad4
  ); /* Peachy pink to light pink */
  min-height: 100vh; /* Ensures the gradient covers the entire viewport */
  margin: 0; /* Removes default margin */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Adjust text color for visibility */
  font-family: Arial, sans-serif; /* Optional: Set a font */
}
